body {
  margin:0;
  margin-top: 48px;
  font-family: 'PT Sans';
  font-size: 1em;
}

/* Page Stuff */

#redbar {
  background-color: red;
  padding-top: .125em;
  padding-bottom: .125em;
  padding-left: .625em;
  padding-right: .625em;
  color: white;
  margin: Opx;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
}

/* Menu stuff */
ul {          
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active):not(.title) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
li a.title{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
    transition-duration: 1s;
}
li a.title:hover {
    color: white;
    transition-duration: 1s;
}
li.left {float: left;}

/*For testing purposes only*/
#spam {
    background-color: navy;
    padding-top: .125em;
    padding-bottom: .125em;
    padding-left: .625em;
    padding-right: .625em;
    color: white;
    margin: Opx;
    transition-duration: 1s;
}
#redbar:hover + #spam {
    color: black;
    transition-duration: 1s;
}