body {
  margin:0;
  margin-top: 48px;
  font-family: 'PT Sans';
  font-size: 1em;
}

/* Page Stuff */
#center {
	text-align: center;
}
.center {
	margin: auto;
}
#redbar {
  background-color: red;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: .625em;
  padding-right: .625em;
  color: white;
  margin: Opx;
}
p {
	padding-left: 10px;
}
h1 {
	padding-left: 10px;
  font-family: 'Carrois Gothic SC';
  font-size: 70px;
  text-align: center;
  font-weight: bold;
}
h2 {
		padding-left: 10px;
  font-family: 'Carrois Gothic SC';
  font-size: 50px;
}
h3 {
		padding-left: 10px;
    font-family: 'Carrois Gothic SC';
	font-size: 50px;
	color: white;
}
/* Menu stuff */
ul {          
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active):not(.title) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
li a.title{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
    transition-duration: 1s;
}
li a.title:hover {
    color: white;
    transition-duration: 1s;
}
li.left {float: left;}
/* for form */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	font-weight: bold;
	border-radius: 8px;
}

.redbutton {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336; /* red */ 
}

.redbutton:hover {
    background-color: #f44336; /* red */ 
    color: white;
}
input, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus, textarea:focus{
    border: 3px solid #555;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
}
#form1 {
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*For testing purposes only*/
#spam {
    background-color: navy;
    padding-top: .125em;
    padding-bottom: .125em;
    padding-left: .625em;
    padding-right: .625em;
    color: white;
    margin: Opx;
    transition-duration: 1s;
}
#redbar:hover + #spam {
    color: black;
    transition-duration: 1s;
}